// css img, button, heading, title, input, elements, components...
img {
  max-width: 100%;
  height: auto;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
  &.--center {
    margin: 0 auto;
    display: block;
  }
}
a {
  text-decoration: none;
}

// colors (tuỳ chỉnh)
.--white-cl {
  color: $white-cl;
}
.--black-cl {
  color: $black-cl;
}
.--blue-cl {
  color: $blue-cl;
}

// css article (nội dung chi tiết bài viết)
article {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    // font-family: ib; // font bold
    display: block;
  }
  h1 {
    font-size: var(--h1-fs);
    line-height: var(--h1-lh);
    margin: 0 0 0.67rem 0;
  }
  h2 {
    font-size: var(--h2-fs);
    line-height: var(--h2-lh);
    margin: 0 0 0.75rem 0;
  }
  h3 {
    font-size: var(--h3-fs);
    line-height: var(--h3-lh);
    margin: 0 0 0.83rem 0;
  }
  h4 {
    font-size: var(--h4-fs);
    line-height: var(--h4-lh);
    margin: 0 0 1.12rem 0;
  }
  h5 {
    font-size: var(--h5-fs);
    line-height: var(--h5-lh);
    margin: 0 0 1.5rem 0;
  }
  h6 {
    font-size: 0.67rem;
    margin: 0 0 1.67rem 0;
  }

  p {
    margin: 0 0 1.12rem 0;
  }
  // strong {
  //   // font-family: ib; // font bold
  // }
  ol,
  ul {
    list-style: initial;
    padding-left: 18px;
  }
  img {
    display: inline-block;
    height: auto;
    overflow: hidden;
    border-radius: 10px;
    margin: 25px auto;
  }
  .video {
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;
    position: relative;
    margin: 25px auto;
    iframe,
    video {
      position: absolute;
      @include size(100%);
      top: 0;
      left: 0;
    }
  }
  @include xs {
    img {
      margin: 20px auto;
    }
  }
}

.heading {
  font-family: ib;
  &.--h1 {
    font-size: var(--h1-fs);
    line-height: var(--h1-lh);
  }
  &.--h2 {
    font-size: var(--h2-fs);
    line-height: var(--h2-lh);
  }
}
.menulogo {
  width: 180px;
  height: 180px;
  padding: 40px;
  @include mid(1);
  flex-direction: column;
  background: $bglogo-cl;
  @include transition($t);
  cursor: pointer;
  .logo {
    height: 40px;
    @include transition($t);
    width: 40px;

    img {
      width: 40px;
    }
  }
  .logohiden {
    display: none;
    margin-left: 65px;
  }
  .btnmenu {
    margin-top: 20px;
    padding: 15px 0;
    width: 40px;
    height: 1px;
    &::before {
      content: "";
      display: block;
      width: 100%;
      height: 1px;
      background: $white-cl;
      margin-bottom: 7px;
    }
    .line {
      display: block;
      position: relative;
      margin-top: 5px;
      width: 40px;
      height: 1px;
      background: $white-cl;
    }
    &::after {
      content: "";
      display: block;
      width: 100%;
      height: 1px;
      background: $white-cl;
      margin-top: 7px;
    }
    .text {
      font-size: 12px;
      text-transform: uppercase;
      color: $black-cl;
      font-family: ab;
      display: none;
      margin-right: 15px;
    }
  }
  &:hover {
    background: $white-cl;
    width: 220px;
    pointer-events: auto;
    .logo {
      @include transition($t);
      display: none;
    }
    .logohiden {
      display: block;
      @include transition($t);
    }
    .btnmenu {
      @include mid(1);
      justify-content: space-evenly;
      width: 100%;
      margin-top: 0;
      @include transition($t);
      .line {
        width: 95px;
        background: $black-cl;
      }
      &::after,
      &::before {
        display: none;
      }
      .text {
        display: block;
      }
    }
  }
}
.thumnail {
  display: flex;
  position: relative;
  overflow: hidden;
  .img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    @include mid();
    transform: translate(-50%, -50%) scale(1);
    @include transition($t);
  }
  .overlay {
    @include mid(1);
    flex-direction: column;
    width: 100%;
    height: 100%;
    background: rgba($color: $bglogo-cl, $alpha: 0.8);
    color: $white-cl;
    @include mid();
    transform: translate(-50%, -50%) scale(0.7);
    @include transition($t);
    opacity: 0;
    pointer-events: none;
    img {
      filter: contrast(0);
    }
    .logoimg {
      width: 20px;
    }
    .contenttext {
      font-size: 12px;
      line-height: 40px;
      font-family: ar;
    }
    .more {
      span {
        font-size: 11px;
        line-height: 40px;
        text-transform: uppercase;
        font-family: ab;
      }
      i {
        margin-left: 15px;
        img {
          width: 20px;
        }
      }
    }
  }
  &:hover {
    .img {
      transform: translate(-50%, -50%) scale(1.1);
      @include transition($t);
    }
    .overlay {
      opacity: 1;
      pointer-events: auto;
      transform: translate(-50%, -50%) scale(1);
      @include transition($t);
    }
  }
}
.title {
  font-size: 12px;
  line-height: 40px;
  font-family: ab;
  color: $black-cl;
  text-transform: capitalize;
  margin-bottom: 17px;
}
