// css header
.header {
  &.headerproduct {
    .nav {
      a {
        color: $white-cl;
      }
    }
  }
  z-index: 2;
  position: absolute;
  .nav {
    margin-top: 45px;
    margin-left: 43px;
    a {
      font-size: 11px;
      font-family: ab;
      color: $black-cl;
      text-transform: uppercase;
      line-height: 30px;
      @include transition($t);
      &:hover {
        color: $yel-cl-sp;
        @include transition($t);
      }
    }
    a:nth-child(2) {
      margin-left: 25px;
      margin-right: 16px;
    }
    i {
      img {
        width: 22px;
      }
    }
  }

  &__hiden {
    display: none;
    background: $bglogo-cl;
    height: 110px;
    .container {
      display: flex;
      align-items: center;
      justify-content: space-between;
      height: 100%;
    }
    &-left {
      @include mid(1);
      height: 100%;
      .line {
        width: 40px;
        height: 100%;
        margin-right: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;

        &::before,
        &::after {
          content: "";
          height: 3px;
          width: 100%;
          background: $white-cl;
          display: block;
          @include transition($tr);
        }
        span {
          height: 3px;
          width: 100%;
          background: $white-cl;
          display: block;
          margin: 5px 0;
        }
        &.active {
          span {
            display: none;
          }
          &::before {
            @include transform(rotate(135deg));
            @include transition($tr);
          }
          &::after {
            @include transform(translateY(-3px) rotate(-135deg));
            @include transition($tr);
          }
        }
      }
      .text {
        font-size: 18px;
        line-height: 43px;
        letter-spacing: 0.05em;
        color: $white-cl;
        font-family: ab;
        text-transform: uppercase;
      }
    }
    &-right {
      a {
        img {
          @include xs {
            max-width: 90px;
          }
        }
      }
    }
    @include xs {
      height: 75px;
    }
  }
  @include xs {
    position: relative;
    .nav {
      display: none;
    }
    &__hiden {
      display: block;
    }
  }
}
