.news {
  // background: #000;
  position: relative;
  z-index: 3;
  .container {
    padding-left: 30px;
    padding-right: 30px;
    margin-top: -190px;
  }
  &__title {
    font-size: 26px;
    font-family: ebr;
    line-height: 50.45px;
    color: $white-cl;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    padding-bottom: 45px;
    border-bottom: 1px solid $white-cl;
    margin-bottom: 60px;
  }
  &__list {
    display: grid;
    grid-template-columns: (repeat(3, 1fr));
    gap: 30px;
    row-gap: 35px;
    &-item {
      .img {
        position: relative;
        overflow: hidden;
        height: 0;
        padding-top: 65.85%;
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          position: absolute;
          top: 50%;
          left: 50%;
          @include transform(translate(-50%, -50%) scale(1));
          @include transition($t);
        }
      }
      .content {
        padding-left: 20px;
        padding-top: 35px;
        padding-bottom: 20px;
        padding-right: 40px;
        @include transition($t);

        .name {
          font-size: 12px;
          line-height: 20px;
          letter-spacing: -0.025em;
          font-family: ab;
          text-transform: uppercase;
          color: $black-cl;
        }
        .text {
          font-size: 12px;
          line-height: 20px;
          letter-spacing: -0.025em;
          font-family: ar;
          color: $black-cl;
          margin-top: 20px;
          margin-bottom: 20px;
        }
        .seeimg {
          display: flex;
          align-items: center;
          img {
            height: 8px;
            margin-right: 10px;
          }
          span {
            font-size: 11px;
            line-height: 40px;
            font-family: ab;
            text-transform: uppercase;
            color: $black-cl;
          }
        }
      }
      &:hover {
        .img {
          img {
            @include transform(translate(-50%, -50%) scale(1.1));
            @include transition($t);
          }
        }
        .content {
          background: #6d5019;
          .name,
          .text,
          .seeimg {
            color: $white-cl;

            span {
              color: $white-cl;
            }
          }
          @include transition($t);
        }
      }
    }
  }
  &__dotpage {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 80px;
    padding-top: 67px;
    .number {
      padding-top: 5px;
      padding-bottom: 5px;
      padding-left: 10px;
      padding-right: 6px;
      font-family: ar;
      font-size: 12px;
      line-height: 20px;
      letter-spacing: 0.4em;
      text-transform: uppercase;
      color: $black-cl;
      &:not(:last-child) {
        margin-right: 10px;
      }
    }
    .active {
      background: #ebebeb;
      border: 1px solid $black-cl;
    }
  }
}
